{% extends 'base.html.twig' %}

{% block title %}Detail{% endblock %}

{% block body %}

    <h1>Details du profil</h1>
    <h3>{{ user.pseudo }}</h3>
    <img src="{{ asset('uploads/article_image/'~ user.photo ) }}" width="200" height="200">
    <article>
        <br>
        <div>Prénom: {{ user.prenom }}</div>
        <div>Nom: {{ user.nom }}</div>
        <div>Téléphone: {{ user.telephone }}</div>
        <div>Email: {{ user.email }}</div>
        <div>Ville de rattachement: {{ user.location.name }}</div>
    </article>
{#    <input type=button onclick="{{ path ('modify_profile',{ id: app.user.id } ) }}" value=Modifier />
    <button type="submit" formaction="/registration/modifyprofile.html.twig">Modifier</button>
    <a href="{{ path ('modify_profile',{ id: app.user.id } ) }}" class="button">Cliquez ici</a>#}
    <a  class="btn btn-primary" href="{{ path ('modify_profile') }}"> Modifier </a>

{% endblock %}