{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
{#
    <h1>Inscription</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
    {{ form_widget(registrationForm) }}
        <button type="submit" class="btn">Enregistrer</button>
        <button type="reset" classe="btn">Annuler</button>
    {{ form_end(registrationForm) }}
{% endblock %}

#}

   <h2>Modifier votre profil : </h2>

        {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}
        <br>
        <button>Valider votre modification !</button>
        {{ form_end(registrationForm) }}

{% endblock %}
