{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <br>
<div class="container col-sm-10 col-xl-6 justify-content-center" >
<h1>Inscription utilisateur</h1>
    <div class="col-9">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}

        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
    {{ form_widget(registrationForm) }}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <button type="reset" class="btn btn-secondary">Annuler</button>
    {{ form_end(registrationForm) }}
    </div>
</div>


{% endblock %}


