{% extends 'base.html.twig' %}


{% block body %}

    <h1> Créer une sortie</h1>
        {{ form_start(tripForm) }}
        {{ form_widget(tripForm) }}

        <button>Enregistrer</button>

        {{ form_end(tripForm) }}

    <button>Publier la sortie</button>
    <button>Annuler</button>

{% endblock %}

  {% block javascript %}
  {{ parent() }}
  <script >

/* sur changement de la données dans la liste deroulante de ville ...*/
$(document).on('change', '#trip_city', function () {
    /* chargement des lieux de la ville concernée */
    chargerListeLieux();
})

/* fonction permettant de recuperer les lieux en fonction de la ville selectionnée */
function chargerListeLieux() {
    $.ajax({
        method: "POST",
        url: "/EniSortir/public/ajax/rechercheLieuByVille ", /* appel de la fonction rechercheLieuByVille du controlleur AjaxController*/
        data: {
            'city_id': $('#trip_city').val() //recupération de la ville dans la data
        }
    }).done(function (response) {
        $('#trip_place').html(''); //initialisation de la liste des lieux
        //chargement des lieux fournis dans la response, dans la liste deroulante
        for (let i = 0; i < response.length; i++) {
            let place = response[i];
            let option = $('<option value="' + place["id"] + '">' + place["name"] + '</option>');
            $('#trip_place').append(option);
        }
    })
}

</script>
  {% endblock %}

{% block title %}
{{ parent() }} | Créer une sortie
{% endblock %}

