{% extends 'base.html.twig' %}

{% block body %}

    <h1>Détails de la sortie "{{ trip.name}}" : </h1>
<div class="container">
    <div>Nom de la sortie : {{ trip.name }}</div>
    <div>Date et heure de la sortie : {{ trip.datestart | date('d/m/Y') }}</div>
    <div>Date limite d'inscription : {{ trip.dateend |date('d/m/Y') }}</div>
    <div>Nombre de places : {{ trip.nbsubscriptionmax}} </div>
    <div>Durée : {{ trip.duration }} minutes</div>
    <div>Description et infos : {{ trip.descriptioninfos }}</div>
    <div>Ville organisatrice : {{ trip.location.name }}</div>
    <div>Lieu : {{ trip.name}} </div>
    <div>Rue : {{ trip.place.street}} </div>
    <div>Code postal : {{ trip.place.city.codePostal}} </div>
    <div>Latitude : </div>
    <div>Longitude : </div>

</div>
    <br>
<diV>
    {% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('trip_modify', {'id':trip.id})}}"><button>Modifier la sortie</button></a>
        <a href="{{ path('trip_delete', {id: trip.id })}}"><button>Supprimer la sortie</button></a>
        <a href="{{ path('trip_update', {id:trip.id}) }}"><button>Publier</button></a>
        <a href="{{ path('home') }}"><button>Retour</button></a>

    {% endif %}

</diV>
    <br>
    <div>
        Liste des participants inscrits :
    </div>


{% endblock %}

{% block title %}
    {{ parent() }} | Modifier votre sortie

{% endblock %}

