{% extends 'base.html.twig' %}

{% block title %}Gérer les sites{% endblock %}

{% block body %}
    <h1>Gérer les sites</h1>

    <div>
        <h2>Filtrez les sites</h2>
        <input type="text" id="input" onkeyup="search()" placeholder="Recherchez un campus">

    </div>
    <div>
        <h1>Liste des Campus</h1>
        <table id="name_location" style="border: black 1px solid">
            <tr style="border: black 1px solid">
                <th>Campus</th>
                <th>Actions</th>
            </tr>
            {% for l in allLocation %}
                <tr style="border: black 1px solid">
                    <td>{{ l.name }}</td>

                    <td>
                        <a href="#">Modifier</a>
                        <a href="#">Supprimer</a>
                    </td>
                </tr>

            {% endfor%}
            <tr>
                {{ form_start(searchForm) }}
                <td>{{ form_widget(searchForm.name) }}</td>
                <td><input type="submit" value="Ajouter"></td>
                {{ form_end(searchForm) }}
            </tr>
        </table>
    </div>
    {% block javascript %}
    {{ parent() }}
    <script>

        function search() {
              let input, filter, table, tr, td, i;

              input = document.getElementById("input");
              filter = input.value.toUpperCase();
              table = document.getElementById("name_location");
              tr = table.getElementsByTagName("tr");

              // Loop through all table rows, and hide those who don't match the search query
                for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                  if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }
              }
            }

    </script>
    {% endblock %}

{% endblock %}
