{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}


{% block body %}
    <br>
    <div id="date" style="float:right">
        Date du jour : {{ 'now'|date('d/m/Y') }}
        <br>
    </div>
    <div>
        <h2>Filtrez vos recherches</h2>


        {{ form_start(searchForm) }}

            {{ form_widget(searchForm.site, {value: app.user.location.id|trans  } ) }}

        {{ form_end(searchForm) }}
    </div>

    <div class="container">
       <h1>Tableau des sorties</h1>
       <table class="table table-info table-striped table-bordered" style="border: black 1px solid">
          <tr style="border: black 1px solid">
             <th>Nom de la sortie</th>
             <th>Date de la sortie</th>
             <th>Cloture</th>
             <th>Inscrit/Place</th>
             <th>Etat</th>
             <th>Organisateur</th>
             <th>Actions</th>
          </tr>
           {% for t in AllTrip %}

               {% set registered = false %}
               {% for user in t.users %}
                   {% if app.user.id == user.id %}
                    {% set registered = true %}
                   {% endif %}
               {% endfor %}

              <tr style="border: black 1px solid">
                 <td>{{ t.name }}</td>
                 <td>{{t.datestart |date("d/m/Y i:H")}}</td>
                 <td>{{ t.dateend | date("d/m/Y") }}</td>
                 <td>{{ t.users.count }} / {{ t.nbsubscriptionmax }}</td>
                 <td>{{ t.etat.libelle }}</td>
                 <td> {{ t.organizer.nom }}</td>

                  <td>
                       <a href={{ path('trip_details', { id:t.id }) }}>Détails</a>
                    {%if(is_granted("ROLE_ADMIN"))  %}
                      <a href="{{ path('trip_modify', {id:t.id}) }}">Modifier</a>
                    {% endif %}
                    {% if is_granted("ROLE_ADMIN") and t.etat.id ==1 %}
                      <a href="{{ path('trip_update', {id:t.id}) }}">Publier</a>
                    {% endif %}
                     {% if t.etat.id==2 and registered %}
                         <a href="{{ path('trip_remove_user', {user:app.user.id, trip:t.id}) }}">Se désister</a>
                         {% else %}
                             {% if t.etat.id==2 %}
                     <a href="{{ path('trip_adduser', {user:app.user.id, trip:t.id}) }}">S'inscrire</a>
                             {% endif %}
                     {% endif %}
                 </td>
              </tr>

           {% endfor%}
       </table>
    </div>


{% endblock %}

