<nav>
    <ul>
        {% if is_granted("ROLE_USER") %}  <!--A garder sinon erreur pour mot de passe oublié  -->
        <li><a href="{{ path('home') }}" title="Homepage" alt="">Accueil</a></li>
        <li><a href="{{ path('details', { id: app.user.id }) }}" title="My Account" alt="">Mon profil</a></li>
        <li><a href= "{{ path('app_logout') }}" title=Logout>Se déconnecter({{app.user.pseudo }}) </a></li>
        {% endif %}
        {% if is_granted("ROLE_ADMIN") %}
        <li><a href="{{ path('app_profile') }}" title="Inscription" >Inscription</a><li>
        <li><a href="{{ path('app_city')}}" title="Cities" alt=""> Villes</a></li>
        <li><a href="{{ path('app_location')}}" title="Location" alt="">Sites</a></li>
        <li><a href="{{ path('trip_createtrip', { id: app.user.id })}}" title="Trip" alt="">Créer une sortie</a></li>
        {% endif %}
    </ul>
</nav>